# Папка с временными файлами IDE
.vscode/
.idea/

# Системные файлы ОС
.DS_Store
Thumbs.db

# Логи сервера и ошибки (если появятся)
error_log

# Если будете использовать локальные переменные для почты (позже)
.env